<h1 class="media media-heading"><%= @app.name %></h1>
<p class="media media-body"><%= @app.url %></p>
<div class="events">
  <h4>Tracked Events</h4>
  <table class="table table-hover table-bordered">
    <th>
      Event
    </th>
    <th>
      # of occurences
    </th>
    <tbody>
      <% @events.each do |name,event_name| %>
      <tr>
        <td>
          <%= name.to_s %>
        </td>
        <td>
          <%= event_name.count %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<p>
  <%#= @app.events.event_name %>
</p>

<div class="remove-app">
  <%= link_to "Remove App", app_path(@app),method: :delete, data: { confirm: "Are you sure?" }, class: 'remove-app-btn btn btn-sm btn-danger' %>
</div>
